<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Birdy</display-name>
	
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>servlets.user.CreateUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>servlets.user.DeleteUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>servlets.user.EditUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ProfileUser</servlet-name>
		<servlet-class>servlets.user.ProfileUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.authentification.Login</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlets.authentification.Logout</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddFriend</servlet-name>
		<servlet-class>servlets.friends.AddFriend</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RemoveFriend</servlet-name>
		<servlet-class>servlets.friends.RemoveFriend</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ListFriend</servlet-name>
		<servlet-class>servlets.friends.ListFriend</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddMessage</servlet-name>
		<servlet-class>servlets.message.AddMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RemoveMessage</servlet-name>
		<servlet-class>servlets.message.RemoveMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditMessage</servlet-name>
		<servlet-class>servlets.message.EditMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ListUserMessage</servlet-name>
		<servlet-class>servlets.message.ListUserMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>GetMessage</servlet-name>
		<servlet-class>servlets.message.GetMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddComment</servlet-name>
		<servlet-class>servlets.message.AddComment</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RemoveComment</servlet-name>
		<servlet-class>servlets.message.RemoveComment</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditComment</servlet-name>
		<servlet-class>servlets.message.EditComment</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ListComment</servlet-name>
		<servlet-class>servlets.message.ListComment</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddLike</servlet-name>
		<servlet-class>servlets.message.AddLike</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RemoveLike</servlet-name>
		<servlet-class>servlets.message.RemoveLike</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ListLike</servlet-name>
		<servlet-class>servlets.message.ListLike</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProfileUser</servlet-name>
		<url-pattern>/ProfileUser</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddFriend</servlet-name>
		<url-pattern>/AddFriend</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RemoveFriend</servlet-name>
		<url-pattern>/RemoveFriend</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListFriend</servlet-name>
		<url-pattern>/ListFriend</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddMessage</servlet-name>
		<url-pattern>/AddMessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RemoveMessage</servlet-name>
		<url-pattern>/RemoveMessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditMessage</servlet-name>
		<url-pattern>/EditMessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListUserMessage</servlet-name>
		<url-pattern>/ListUserMessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GetMessage</servlet-name>
		<url-pattern>/GetMessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddComment</servlet-name>
		<url-pattern>/AddComment</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RemoveComment</servlet-name>
		<url-pattern>/RemoveComment</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditComment</servlet-name>
		<url-pattern>/EditComment</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListComment</servlet-name>
		<url-pattern>/ListComment</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddLike</servlet-name>
		<url-pattern>/AddLike</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RemoveLike</servlet-name>
		<url-pattern>/RemoveLike</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListLike</servlet-name>
		<url-pattern>/ListLike</url-pattern>
	</servlet-mapping>
	
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/Database</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref> 
</web-app>